header {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header .header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1; 
}

header .header-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .header-logo {
    margin: 20px;
    position: absolute;
    width: 150px;
    height: auto;
    z-index: 100;
}

header .menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

header .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #2B3A58;
    display: none;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
}

header .menu ul {
    list-style: none;
    text-align: center;
}

header .menu li {
    margin: 20px 0;
}

header .menu a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

header .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

header nav a.active {
    text-decoration: underline;
}

header h1 {
    color: white;
    font-size: 17rem;
    text-align: center;
    position: absolute;
    top: 2%;
}

h2 span {
    display: block; 
}

p span {
    display: block;
    margin-top: 20px; 
}

#Steckbrief .uebermich-container {
    display: flex;
    align-items: center;
    background: #2B3A58;
    margin-top: 20px;
}

#Steckbrief .uebermich-container img {
    max-width: 300px;
    margin-left: 150px;

}

#Steckbrief .uebermich-überschrift {
    flex: 1;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#Steckbrief .uebermich-überschrift img {
    max-width: 50px;
    margin: 0px;
}

#Steckbrief .steckbrief-container {
    border: 2px solid #2B3A58;
    display: grid;
    gap: 20px; 
    padding: 20px;

}

#Steckbrief .zeile {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

#Steckbrief .zeile > p:first-child {
    font-weight: bold; 
    flex: 1;
}

#Steckbrief .zeile p:last-child {
    flex: 1; 
    text-align: left; 
}

#Steckbrief .werte {
    flex: 1;
    display: flex;
    flex-direction: column; 
}

#Autogrammkarten h2 {
    color: white;
    text-transform: uppercase;
}

#Autogrammkarten .autogrammkarten {
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #2B3A58 50%, white 50%);
}

#Autogrammkarten .autogrammkarten-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

#Autogrammkarten .autogrammkarten-spalte {
    flex-direction: column;
}

#Autogrammkarten .autogrammkarten-spalte img {
    width: 300px;
    border: 2px solid black;
}

#Autogrammkarten .autogrammkarten-spalte button {
    background-color: #2B3A58;
    border: 2px solid #2B3A58;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#Fotogalerie {
    margin: 20px;
    ;
}

#Fotogalerie h2 {
    color: #2B3A58;
    text-transform: uppercase;
}

#Fotogalerie .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 20px;
}

#Fotogalerie .gallery-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#Fotogalerie .gallery-column img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#Fotogalerie .column-1 img {
    height: 200px;
}

#Fotogalerie .column-2 .tall {
    height: 415px;
}

#Fotogalerie .column-2 .small {
    height: 200px;
}

#Fotogalerie .column-3 .small {
    height: 265px;
}

#Fotogalerie .column-3 .tall {
    height: 350px;
}

#Fotogalerie .gallery-container button {
    background-color: #2B3A58;
    border: 2px solid #2B3A58;
    color: white;
    padding: 10px 20px;
    justify-self: left;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

footer a {
    color: #2B3A58;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}

footer .right {
    display: flex;
    gap: 20px;
}

/* Responsive Design - Mobile Ansicht (360px - 600px) */
@media (max-width: 600px) {

    header img {
        width: 100px;  
    }

    header h1 {
        font-size: 6rem;
        top: 67%;
    }

    header .menu-button {
        font-size: 1rem;
    }

    header .close-button {
        font-size: 1rem;
    }

    #Steckbrief .uebermich-container {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }

    #Steckbrief .uebermich-container img {
        margin-left: 0;
    }

    #Steckbrief .steckbrief-container {
        display: flex;
        flex-direction: column;
    }

    #Steckbrief .zeile {
        flex-direction: column; 
        gap: 5px;
    }

    #Steckbrief .zeile > p:first-child {
        text-align: center;
      
    }

    #Steckbrief .zeile p:last-child {
        text-align: center;
    }

    #Steckbrief .werte {
        text-align: center;
    }

    #Autogrammkarten .autogrammkarten {
    background: linear-gradient(to bottom, #2B3A58 0%, #2B3A58 27%, white 27%, white 100%);
    }

    #Autogrammkarten .autogrammkarten-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    #Fotogalerie .gallery-container {
        grid-template-columns: 1fr;
    }

}