header {
    background-image: url('img/sportlerin.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header img {
    margin: 20px;
    position: absolute;
    width: 150px;
    height: auto;
    z-index: 100;
}

header .menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

header .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #2B3A58;
    display: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

header .menu ul {
    list-style: none;
    text-align: center;
}

header .menu li {
    margin: 20px 0;
}

header .menu a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

header .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

header nav a.active {
    text-decoration: underline;
}

header h1 {
    color: white;
    font-size: 12rem;
    text-align: justify;
    position: absolute;
    top: 32%;
    text-transform: uppercase;
}

h2 {
    color: #2B3A58;
    margin-left: 20px;
    text-transform: uppercase;
}

#Werdegang .slider-container {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

#Werdegang .slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
}

#Werdegang .slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#Werdegang .slide.active {
    opacity: 1;
    position: relative;
}

#Werdegang .content-box {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #2B3A58;
    color: white;
}

#Werdegang .text-box {
    width: 50%;
    padding: 40px;
}

#Werdegang .text-box h3 {
    text-transform: uppercase;
}

#Werdegang .image-box {
    width: 50%;
}

#Werdegang .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Werdegang .arrow {
    font-size: 2rem;
    color: #2B3A58;
    cursor: pointer;
    padding: 20px;
    user-select: none;
}

#Werdegang .left-arrow {
    margin-right: 10px;
}

#Werdegang .right-arrow {
    margin-left: 10px;
}

#Spieleinsätze h2 {
    color: #2B3A58;
    margin-left: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

#Spieleinsätze h5 {
    color: #2B3A58;
}

#Spieleinsätze span {
    color: #2B3A58;
}

#Spieleinsätze .grid-container-Spieleinsätze {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#Spieleinsätze .box-Spieleinsätze {
    border: 2px solid #2B3A58;
    padding: 20px;
    text-align: center;
}

.grid-container-filled-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.bild img {
    height: auto;
    display: block;
    margin-top: 50px;
}

.filled-box {
    background-color: #2B3A58;
    color: white;
    padding: 20px;
    position: relative;
    top: 17%;
    height: 60%;
}

#Süddeutsche .bild img {
    margin-right: 20px;
}

#Süddeutsche .filled-box {
    width: 115%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#Süddeutsche .filled-box::before {
    content: "";
    position: absolute;
    left: 30%;
    width: 2px;
    height: 80%;
    background-color: white;
    transform: translateX(-50%);
}

#Süddeutsche .filled-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    width: 50%;
    height: 2px;
    background-color: white;
    transform: translateY(-50%);
}

#Süddeutsche .rotated-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#Süddeutsche .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    position: absolute;
    top: 15%;
    right: 80px;
    text-align: center;
}

#Süddeutsche .icon {
    position: absolute;
    right: 140px;
    top: 180px;
}

#Länderpokal .bild img {
    margin-left: 20px;
}

#Länderpokal .filled-box {
    width: 115%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    right: 150px;
}

#Länderpokal .filled-box::before {
    content: "";
    position: absolute;
    right: 30%;
    width: 2px;
    height: 80%;
    background-color: white;
    transform: translateX(-50%);
}

#Länderpokal .filled-box::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 40%;
    width: 50%;
    height: 2px;
    background-color: white;
    transform: translateY(-50%);
}

#Länderpokal .rotated-title {
    writing-mode: vertical-rl;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

#Länderpokal .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    position: absolute;
    top: 15%;
    left: 80px;
    text-align: center;
}

#Länderpokal .icon {
    position: absolute;
    right: 140px;
    top: 180px;
}

#Meisterin .bild img {
    margin-right: 20px;
}

#Meisterin .filled-box {
    width: 115%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#Meisterin .filled-box::before {
    content: "";
    position: absolute;
    left: 30%;
    width: 2px;
    height: 80%;
    background-color: white;
    transform: translateX(-50%);
}

#Meisterin .filled-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    width: 50%;
    height: 2px;
    background-color: white;
    transform: translateY(-50%);
}

#Meisterin .rotated-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#Meisterin .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    position: absolute;
    top: 15%;
    right: 80px;
    text-align: center;
}

#Meisterin .icon {
    position: absolute;
    right: 140px;
    top: 180px;
}

#Sponsoren .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #2B3A58;
    margin-bottom: 50px;
}

#Sponsoren .title {
    font-size: 2.5rem;
    font-weight: bold;
    flex: 1; 
    color: white;
    align-self: flex-start; 
    text-transform: uppercase;
}

#Sponsoren .box-container {
    display: flex;
    gap: 30px;
    flex: 2;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
}

#Sponsoren .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Sponsoren .box img {
    width: 100%;
    height: auto;
}

#Sponsoren .logo-box {
    background-color: white;
    width: 100%;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#Sponsoren .logo-box img {
    width: 150px; 
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

footer a {
    color: #2B3A58;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}

footer .right {
    display: flex;
    gap: 20px;
}