/* Festlegung Schriftgröße */
html {
    font-size: 18px;
    /* 1rem = 18px */
}

/* Schriftgröße Absätze */
p {
    font-size: 1rem;
}

/* Großbuchstaben */
header .menu-button,
header .menu a,
header .close-button,
header h1,
h2,
#Werdegang .text-box h3,
#Spieleinsätze h2,
#Süddeutsche .rotated-title,
#Länderpokal .rotated-title,
#Meisterin .rotated-title,
#Sponsoren .title,
footer a {
    text-transform: uppercase;
}

/* Blaue Hintergrundfarbe */
header .menu,
#Werdegang .content-box,
.filled-box,
#Sponsoren .container,
#Länderpokal .filled-box {
    background-color: #2B3A58;
}

/* Blaue Textfarbe */
h2,
#Werdegang .arrow,
#Spieleinsätze h2,
#Spieleinsätze h3,
#Spieleinsätze span,
footer a {
    color: #2B3A58;
}

/* Header Styling */
header {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Hintergrundbild des Headers */
header .header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

/* Das Bild im Hintergrund des Headers */
header .header-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay mit `::before` */
header .header-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* Logo im Header */
header .header-logo {
    margin: 1rem;
    position: absolute;
    width: 8.3rem;
    height: auto;
    z-index: 100;
    top: 0;
}

/* Menübutton im Header */
header .menu-button,
header .close-button {
    position: absolute;
    top: 1.1rem;
    right: 1.1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    color: white;
    padding: 0.5rem 1.1rem;
    font-size: 1rem;
}

/* Menü im Header */
header .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

/* Menüliste */
header .menu ul {
    list-style: none;
    text-align: center;
}

/* Menüeinträge */
header .menu li {
    margin: 1.1rem 0;
}

/* Links im Menü */
header .menu a {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
}

/* Aktive Links im Header-Menü */
header nav a.active {
    text-decoration: underline;
}

/* Überschrift im Header */
header h1 {
    color: white;
    font-size: 4.2rem;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1) !important;
    display: inline-block;
}

/* Stil für span-Elemente */
header h1 span,
h2 span {
    display: block;
}

/* Unterüberschrift */
h2 {
    margin-left: 1.1rem;
}

/* Werdegang-Sektion Slider Container */
#Werdegang .slider-container {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    margin-bottom: 2.2rem;
}

/* Werdegang-Sektion Slider */
#Werdegang .slider {
    display: flex;
    position: relative;
    width: 100%;
}

/* Einzelne Slides im Werdegang */
#Werdegang .slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Aktiver Slide im Werdegang */
#Werdegang .slide.active {
    opacity: 1;
    position: relative;
}

/* Werdegang Content Box */
#Werdegang .content-box {
    display: flex;
    width: 100%;
    height: fit-content;
    color: white;
}

/* Text Box im Werdegang */
#Werdegang .text-box {
    width: 50%;
    padding: 2.2rem;
}

/* Bild Box im Werdegang */
#Werdegang .image-box {
    width: 50%;
}

/* Bild in der Bild Box im Werdegang */
#Werdegang .image-box img {
    width: 100%;
    height: 101%;
    object-fit: cover;
}

/* Pfeile im Werdegang-Slider */
#Werdegang .arrow {
    font-size: 2rem;
    cursor: pointer;
    padding: 1.1rem;
    user-select: none;
}

/* Pfeiltasten */
#Werdegang .left-arrow,
#Werdegang .right-arrow {
    margin-right: 0.5rem;
}

/* Spieleinsätze Überschrift */
#Spieleinsätze h2 {
    margin-left: 1.1rem;
    margin-top: 1.1rem;
}

/* Spieleinsätze Grid Container */
#Spieleinsätze .grid-container-Spieleinsätze {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.1rem;
    padding: 1.1rem;
    max-width: 66.6rem;
    margin: 0 auto;
}

/* Box innerhalb des Grid Containers der Spieleinsätze */
#Spieleinsätze .box-Spieleinsätze {
    border: 2px solid #2B3A58;
    padding: 1.1rem;
    text-align: center;
}

/* Grid Container für gefüllte Boxen */
.grid-container-filled-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin: 1.3rem;
}

/* Bild Styling in den gefüllten Boxen */
.bild img {
    display: block;
    width: 130%;
}

/* Sektion Styling */
#Süddeutsche .bild img,
#Meisterin .bild img
 {
    margin-right: 1.1rem;
}

#Länderpokal .bild img {
    margin-left: 1.1rem;
    margin-bottom: 20%;
}

/* Gefüllte Box */
.filled-box {
    color: white;
    padding: 1.1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: flex-start;
    left: 0;
    width: 123%;
    margin-bottom: 30%;
    z-index: 1;
}

/* Gefüllte Box & Styling Bild */
#Meisterin .filled-box,
#Süddeutsche .filled-box,
#Länderpokal .bild img {
    transform: translateX(-23%);
}


#Süddeutsche .filled-box,
#Meisterin .filled-box {
    margin-left: 1.1rem;
}

#Länderpokal .filled-box {
    height: 52%;
}

/* Vertikale Linie innerhalb der gefüllten Box */
.filled-box::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 80%;
    background-color: white;
    transform: translateY(5%);
}

#Süddeutsche .filled-box::before,
#Meisterin .filled-box::before {
    left: 30%;
}

#Länderpokal .filled-box::before {
    right: 30%;
}

/* Horizontale Linie innerhalb der gefüllten Box */
.filled-box::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: white;
    transform: translateY(-50%);
}

#Süddeutsche .filled-box::after,
#Meisterin .filled-box::after {
    left: 40%;
}

#Länderpokal .filled-box::after {
    right: 40%;
}

/* Rotierte Titel */
.rotated-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    display: block;
}

.rotated-title span {
    display: block;
}

#Süddeutsche .rotated-title,
#Meisterin .rotated-title {
    transform: rotate(180deg);
    margin-left: 0;
}

#Länderpokal .rotated-title {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Inhalt Box */
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    position: absolute;
    top: 15%;
    text-align: center;
}

#Süddeutsche .content,
#Meisterin .content {
    right: 4.4rem;
}

#Länderpokal .content {
    left: 4.4rem;
}

/* Icon */
.icon {
    position: absolute;
    right: 30%;
    top: 180%;
}

/* Container der Sponsoren */
#Sponsoren .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
}

/* Titel der Sponsoren */
#Sponsoren .title {
    font-size: 2.5rem;
    font-weight: bold;
    flex: 1;
    color: white;
    align-self: flex-start;
}

/* Box-Container für Sponsoren */
#Sponsoren .box-container {
    display: flex;
    gap: 1.6rem;
    flex: 2;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
    margin-right: 1.1rem;
}

/* Box für jedes Sponsorenlogo */
#Sponsoren .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sponsorenlogos */
#Sponsoren .box img {
    width: 100%;
    height: auto;
}

/* Box, die das Sponsorenlogo umgibt */
#Sponsoren .logo-box {
    background-color: white;
    width: 100%;
    text-align: center;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sponsorenlogo */
#Sponsoren .logo-box img {
    width: 8.3rem;
    height: auto;
}

/* Footer-Layout */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.1rem;
}

/* Footer-Links */
footer a {
    text-decoration: none;
    font-size: 1rem;
}

/* Footer rechts-Layout */
footer .right {
    display: flex;
    gap: 1.1rem;
}


/* Responsive Design */

@media (max-width: 1188px) {

    #Länderpokal .filled-box {
        height: 70%;
    }

    #Länderpokal .icon {
        top: 240%;
    }
}

@media (max-width: 1002px) {
    
    .icon {
        right: 20%;
        top: 180%;
    }

    #Länderpokal .icon {
        top: 150%;
    }

    #Länderpokal .filled-box::before {
        right: 36%;
    }

}

@media (max-width: 980px) {

    .icon {
        right: 20%;
        top: 130%;
    }
}

@media (max-width: 820px) {

    .filled-box::before {
        margin-left: 1.6rem;
    }

    #Süddeutsche .content, #Meisterin .content {
        right: 2.4rem;
    }

    #Länderpokal .filled-box {
        height: 90%;
    }

    #Länderpokal .grid-container-filled-box {
        margin-bottom: 7.1rem;
    }

    #Länderpokal .rotated-title {
        right: -5%;
    }

    #Länderpokal .content {
        left: 2.4rem;
    }

    #Länderpokal .filled-box::before {
        right: 37%;
    }

    .icon {
        right: 15%;
        top: 140%;
    }
}

@media (max-width: 700px) {

    .icon {
        right: 15%;
        top: 145%;
    }

    #Länderpokal .icon {
        top: 100%;
    }

}

/* Responsive Design für mobile Ansicht (360px - 600px) */
@media (max-width: 600px) {

    /* Festlegung Schriftgröße */
    html {
        font-size: 16px;
        /* 1rem = 16px */
    }

    /* Schriftgröße */
    p,
    header .menu-button,
    header .close-button {
        font-size: 1rem;
    }

    /* Header Bild-Größe auf Mobilgeräten */
    header img {
        width: 6.2rem;
    }

    /* Header Titel auf Mobilgeräten */
    header h1 {
        font-size: 3rem;
    }

    /* Werdegang Boxen auf Mobilgeräten */
    #Werdegang .content-box {
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column-reverse;
    }

    /* Werdegang Text- und Bild-Boxen auf Mobilgeräten */
    #Werdegang .text-box,
    #Werdegang .image-box {
        width: 90%;
        text-align: center;
    }

    /* Bild in Werdegang Box */
    #Werdegang .image-box img {
        margin-top: 1.2rem;
    }

    /* Textbox Padding in Werdegang */
    #Werdegang .text-box {
        padding: 1.2rem;
    }

    /* Spieleinsätze Layout auf Mobilgeräten */
    #Spieleinsätze {
        margin-top: 4.1rem;
        margin-bottom: 4.1rem;
    }

    /* Grid-Container für Spieleinsätze */
    #Spieleinsätze .grid-container-Spieleinsätze {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    /* Box für jedes Spieleinsatz-Element */
    #Spieleinsätze .box-Spieleinsätze {
        border: 2px solid #2B3A58;
        padding: 1.2rem;
        text-align: center;
        width: 40%;
    }

    /* Bereich für Mobilgeräte */
    .grid-container-filled-box {
        grid-template-columns: 1fr;
    }

    #Länderpokal .grid-container-filled-box {
        display: flex;
        flex-direction: column-reverse;
    }

    #Süddeutsche .filled-box, 
    #Meisterin .filled-box {
        width: 93.5%;
        height: 30rem;
        margin-top: -12.5%;
        left: 19.5%;
    }

    /* Bild */
    #Süddeutsche .bild img,
    #Länderpokal .bild img,
    #Meisterin .bild img {
        width: 100%;
    }

    /* Rotierter Titel */
    #Süddeutsche .rotated-title,
    #Länderpokal .rotated-title,
    #Meisterin .rotated-title {
        writing-mode: unset;
        transform: unset;
        font-size: 2rem;
        margin-top: 0;
    }

    /* Content */
    #Süddeutsche .content,
    #Länderpokal .content,
    #Meisterin .content {
        top: 35%;
        left: 25%;
    }

    /* Icon für Süddeutsche Bereich */
    #Süddeutsche .icon 
    {
        top: 165%;
    }

    #Länderpokal .icon 
    {
        top: 165%;
    }

    #Meisterin .icon 
    {
        top: 165%;
    }

    /* Gefüllte Box Linien für Süddeutsche */
    #Süddeutsche .filled-box::before,
    #Länderpokal .filled-box::before,
    #Meisterin .filled-box::before
    {
        top: 28%;
        left: 5%;
        width: 80%;
        height: 2px;
    }

    /* Gefüllte Box Linien für Süddeutsche */
    #Süddeutsche .filled-box::after,
    #Länderpokal .filled-box::after,
    #Meisterin .filled-box::after
    {
        top: 58%;
        left: 10%;
        width: 80%;
    }

    /* Länderpokal Layout */
    #Länderpokal .grid-container-filled-box {
        margin-top: -10%;
    }

    /* Gefüllte Box für Länderpokal */
    #Länderpokal .filled-box {
        width: 93.5%;
        height: 30rem;
        margin-top: -20.4%;
    }

    /* Bild im Länderpokal Bereich */
    #Länderpokal .bild img {
        margin-left: 23.5%;
    }

    /* Rotierter Titel im Länderpokal Bereich */
    #Länderpokal .rotated-title {
        top: 3%;
        left: 0%;
    }

    #Meisterin .grid-container-filled-box {
        margin-top: -38%;
    }

    /* Icon im Meisterin Bereich */
    #Meisterin .icon {
        top: 160%;
    }

    /* Gefüllte Box Linien im Meisterin Bereich */
    #Meisterin .filled-box::before {
        left: 5%;
    }

    /* Container für Sponsoren im vertikalen Layout */
    #Sponsoren .container {
        flex-direction: column;
        margin-top: unset;
    }

    /* Box-Container für Sponsoren im vertikalen Layout */
    #Sponsoren .box-container {
        flex-direction: column;
        margin: 1.2rem 0;
    }

    /* Sponsorenlogo-Bildgröße reduzieren */
    #Sponsoren .box img,
    #Sponsoren .logo-box {
        width: 80%;
    }

}





