/* Schriftgrößen */
html {
    font-size: 18px;
    /* 1rem = 18px */
}

p {
    font-size: 1rem;
    font-weight: bold;
}

h2 {
    font-size: 2.4rem;
}

/* Header-Bereich mit Hintergrundbild */
header {
    background-color: #2B3A58;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Logo im Header */
header .header-logo {
    margin: 20px;
    position: absolute;
    width: 150px;
    height: auto;
    z-index: 100;
}

/* Menü-Button für Navigation */
header .menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Navigationsmenü */
header .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #2B3A58;
    display: none;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
}

#menu {
    display: none; /* Verhindert, dass das Menü beim Neuladen kurz sichtbar ist */
}

/* Navigation-Liste */
header .menu ul {
    list-style: none;
    text-align: center;
}

/* Listenelemente im Menü */
header .menu li {
    margin: 20px 0;
}

/* Links im Navigationsmenü */
header .menu a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

/* Schließen-Button für das Menü */
header .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Markierung für aktive Navigationselemente */
header nav a.active {
    text-decoration: underline;
}

/* Hauptüberschrift im Header */
header h1 {
    color: white;
    font-size: 4.2rem;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding-left: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

#Datenschutz {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

p span {
    display: block;
    font-weight: normal;
}

/* Footer-Bereich */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

/* Links im Footer */
footer a {
    color: #2B3A58;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}

/* Rechte Sektion im Footer */
footer .right {
    display: flex;
    gap: 20px;
}

/* Responsive Design für mobile Ansicht */
@media (max-width: 600px) {

    /* Festlegung Schriftgröße */
    html {
        font-size: 16px;
        /* 1rem = 16px */
    }

    /* Schriftgröße */
    p,
    header .menu-button,
    header .close-button {
        font-size: 1rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    /* Header - Bildgröße auf mobilen Geräten */
    header img {
        width: 6.2rem;
    }

    /* Header - Schriftgröße für den Titel */
    header h1 {
        font-size: 3rem;
    }
}