header {
    background-image: url('img/header.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
}

#MeinNächstesSpiel h2 {
    color: #2B3A58;
    margin-left: 20px;
}

#MeinNächstesSpiel h5 {
    color: #2B3A58;
}

#MeinNächstesSpiel span {
    color: #2B3A58;
}

.grid-container-countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.box-countdown {
    border: 2px solid #2B3A58;
    padding: 20px;
    text-align: center;
}

.grid-container-filled-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.bild img {
    width: 120%;
    height: auto;
    display: block;
    margin-top: 50px;
}

.filled-box {
    background-color: #2B3A58;
    color: white;
    padding: 20px;
    position: relative;
    top: 17%;
    height: 60%;
}

#ÜberMich {
    .bild img {
        margin-left: 20px;
    }

    .filled-box {
        margin-right: 20px;
    }
}

#MeinWegAlsSportlerin {
    .bild img {
        width: 97%;
        margin-right: 20px;
    }

    .filled-box {
        width: 115%;
        margin-left: 20px;
    }
}

#Fanclub {
    .bild img {
        margin-left: 20px;
    }

    .filled-box {
        margin-right: 20px;
    }
}