/* Festlegung Schriftgröße */
html {
    font-size: 18px;
    /* 1rem = 18px */
}

/* Schriftgröße Absätze */
p {
    font-size: 1rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

/* Großbuchstaben */
header .menu-button,
header .menu a,
header .close-button,
header h1,
#Infos .overlay-box h2,
#Veranstaltungen h2,
#Anmeldeformular h2,
#Anmeldeformular button,
footer a {
    text-transform: uppercase;
}

/* Blaue Hintergrundfarbe */
header .menu,
#Infos .overlay-box,
#Veranstaltungen .text-box,
#Anmeldeformular .form-container {
    background-color: #2B3A58;
}

/* Blaue Textfarbe */
#Veranstaltungen h2,
#Anmeldeformular button,
footer a {
    color: #2B3A58;
}

/* Header-Bereich mit Hintergrundbild */
header {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Hintergrundbild des Headers */
header .header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

/* Bild innerhalb des Header-Hintergrunds */
header .header-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

/* Overlay mit `::before` */
header .header-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* Logo im Header */
header .header-logo {
    margin: 1rem;
    position: absolute;
    width: 8.3rem;
    height: auto;
    z-index: 100;
    top: 0;
}

/* Menü-Button für Navigation */
header .menu-button,
header .close-button {
    position: absolute;
    top: 1.1rem;
    right: 1.1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    color: white;
    padding: 0.5rem 1.1rem;
    font-size: 1rem; 
}

/* Navigationsmenü */
header .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

/* Navigation-Liste */
header .menu ul {
    list-style: none;
    text-align: center;
}

/* Listenelemente im Menü */
header .menu li {
    margin: 1.1rem 0;
}

/* Links im Navigationsmenü */
header .menu a {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
}

/* Markierung für aktive Navigationselemente */
header nav a.active {
    text-decoration: underline;
}

/* Hauptüberschrift im Header */
header h1 {
    color: white;
    font-size: 4.2rem;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding-left: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1) !important;
    display: inline-block;
}

/* Stil für span-Elemente innerhalb von h1 */
header h1 span {
    display: block;
}

/* Absatz mit span-Element */
p span {
    display: block;
    margin-top: 1.1rem;
}

/* Container für den Informationsbereich */
#Infos .container {
    position: relative;
    width: 100%;
    height: 41.6rem;
    margin-top: 2.2rem;
    margin-bottom: 0%;
}

/* Linkes Bild im Informationsbereich */
#Infos .left-image {
    position: absolute;
    left: 0;
    width: 50%;
    height: auto;
}

/* Rechtes Bild im Informationsbereich */
#Infos .right-image {
    position: absolute;
    right: 0;
    width: 45%;
    height: auto;
    top: 10%;
}

/* Überlagerungstextbox im Informationsbereich */
#Infos .overlay-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 2.7rem;
    text-align: center;
    z-index: 10;
    max-width: 27.7rem;
}

/* Überschrift im Veranstaltungsbereich */
#Veranstaltungen h2 {
    text-align: center;
    margin-top: 3.2rem;
}

/* Container für Veranstaltungen */
#Veranstaltungen .container {
    display: flex;
    gap: 5.5rem;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    justify-content: center;
    align-items: center;
}

/* Box für eine Veranstaltung */
#Veranstaltungen .box {
    width: 22.2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: fit-content;
}

/* Bild in der Veranstaltungsbox */
#Veranstaltungen .box img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/* Textbox in der Veranstaltungsbox */
#Veranstaltungen .text-box {
    height: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.1rem;
}

/* Datumsanzeige in der Veranstaltungsbox */
#Veranstaltungen .date {
    font-size: 0.9rem;
    opacity: 0.8;
}

/* Überschrift in der Veranstaltungsbox */
#Veranstaltungen h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

/* Umbrechen */
#Veranstaltungen h3 span{
    display: block;
}

/* Formular-Container */
#Anmeldeformular .form-container {
    padding: 1.6rem;
    margin-bottom: 2.2rem;
    margin-top: 1.1rem;
}

/* Überschrift im Anmeldeformular */
#Anmeldeformular h2 {
    margin-bottom: 2.2rem;
    color: white;
}

/* Layout des Formularinhalts */
#Anmeldeformular .form-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.3rem;
}

/* Textbereich im Formular */
#Anmeldeformular .text-section {
    width: 40%;
    color: white;
}

/* Formularfeld */
#Anmeldeformular form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

/* Zeile für mehrere Eingabefelder */
#Anmeldeformular .input-row {
    display: flex;
    gap: 1.1rem;
    margin-bottom: 0.5rem;
}

/* Eingabefelder und Textbereich */
#Anmeldeformular input,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgba(173, 173, 172, 0.5);
    color: white;
    box-sizing: border-box;
}

/* Platzhalterfarbe in Eingabefeldern */
#Anmeldeformular input::placeholder,
#Anmeldeformular textarea::placeholder {
    color: white;
}

/* Textbereich im Formular */
#Anmeldeformular textarea {
    margin-bottom: 0.5rem;
    resize: none;
}

/* Absenden-Button */
#Anmeldeformular button {
    background-color: white;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.5rem 1.1rem;
    margin: 1.1rem 0;
    width: 8.3rem;
}

/* Hover-Effekt für den Button */
#Anmeldeformular button:hover {
    background-color: gray;
}

/* Footer-Bereich */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.1rem;
}

/* Links im Footer */
footer a {
    text-decoration: none;
    font-size: 1rem;
}

/* Rechte Sektion im Footer */
footer .right {
    display: flex;
    gap: 1.1rem;
}

/* Responsive Design - Mobile Ansicht (bis 600px) */
@media (max-width: 600px) {

    /* Festlegung Schriftgröße */
    html {
        font-size: 16px;
        /* 1rem = 16px */
    }

    /* Schriftgröße */
    p,
    header .menu-button,
    header .close-button {
        font-size: 1rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    /* Logo-Größe im Header */
    header img {
        width: 16.2rem;
    }

    /* Kleinere Schriftgröße für h1 im Header */
    header h1 {
        font-size: 3rem;
    }

    /* Anpassung des Info-Bereichs für Mobilgeräte */
    #Infos .container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1.2rem;
        width: unset;
    }

    /* Linkes Bild im Informationsbereich wird auf Mobilgeräten ausgeblendet */
    #Infos .left-image {
        display: none;
    }

    /* Rechtes Bild im Informationsbereich wird statisch positioniert */
    #Infos .right-image {
        position: static;
        width: 100%;
    }

    /* Überlagerungstextbox wird auf Mobilgeräten statisch positioniert */
    #Infos .overlay-box {
        position: static;
        max-width: 100%;
        transform: none;
        margin-top: -6.2rem;
    }

    /* Container der Veranstaltungen wird auf Mobilgeräten in eine Spalte umgewandelt */
    #Veranstaltungen .container {
        flex-direction: column;
        gap: 1.8rem;
    }

    /* Veranstaltungsbox wird für kleinere Bildschirme angepasst */
    #Veranstaltungen .box {
        width: 90%;
    }

    #Veranstaltungen h2 {
        margin-top: 6.2rem;
    }

    /* Formularinhalt wird auf Mobilgeräten in eine Spalte umgewandelt */
    #Anmeldeformular .form-content {
        flex-direction: column;
        gap: 1.2rem;
    }

    /* Textbereich und Formular im Anmeldeformular nehmen die volle Breite ein */
    #Anmeldeformular .text-section,
    #Anmeldeformular form {
        width: 100%;
        text-align: left;
    }

    /* Eingabereihen im Formular werden aufgelöst */
    #Anmeldeformular .input-row {
        display: unset;
        margin-bottom: unset;
    }

    /* Abstand bei Eingabefeldern im Formular */
    #Anmeldeformular input,
    #Anmeldeformular textarea {
        margin-bottom: 0.6rem;
    }

}

@media (max-width: 1000px) {
#Infos .container {
    margin-bottom: -25%;
}

}

@media (max-width: 1200px) {
#Infos .container {
    margin-bottom: -10%;
}
    
}
