<!-- Header-Bereich mit Hintergrundbild -->
<div class="header-background">
    <img src="img/header.webp" alt="Hannah Mesch lächelt und klatscht Fans ab">
</div>
<!-- Link zur Startseite mit Logo -->
<a id="LinkzurHomepage" href="index.html" class="closeMenu" aria-label="Zur Startseite über das Logo">
    <img class="header-logo" src="img/logo.svg" alt="Logo von Hannah Mesch">
</a>
<h1>Hannah <span>Mesch</span></h1>
<!-- Menübutton zum Öffnen des Navigationsmenüs -->
<button id="menuButton" class="menu-button" aria-label="Menü öffnen">Menü</button>
<nav id="menu" class="menu" role="navigation">
    <!-- Button zum Schließen des Menüs -->
    <button id="closeButton" class="close-button" aria-label="Menü schließen">Schließen</button>
    <ul>
        <!-- Navigationselemente für die verschiedenen Seiten -->
        <li><a href="index.html" class="active closeMenu" aria-label="Zur Startseite">Home</a></li>
        <li><a href="ueber_mich.html" aria-label="Mehr über Hannah erfahren">Über mich</a></li>
        <li><a href="mein_weg_als_sportlerin.html" aria-label="Mein Weg als Sportlerin ansehen">Mein Weg als
                Sportlerin</a></li>
        <li><a href="fanclub.html" aria-label="Informationen zum Fanclub">Fanclub Meschi#11</a></li>
    </ul>
</nav>