<!-- Header mit Hintergrundbild und Logo -->
<div class="header-background">
    <img src="img/sportlerin.svg" alt="Hannah klatscht Mitspielerin ab">
</div>
<a id="LinkzurHomepage" href="index.html" class="home" aria-label="Zur Startseite über das Logo">
    <img class="header-logo" src="img/logo.svg" alt="Logo von Hannah Mesch">
</a>
<!-- Überschrift für den Titel der Seite -->
<h1>Mein Weg <span>als</span> <span>Sportlerin</span></h1>
<!-- Menübutton zum Öffnen des Navigationsmenüs -->
<button type="button" id="menuButton" class="menu-button" aria-label="Menü öffnen">Menü</button>
<nav id="menu" class="menu" role="navigation">
    <!-- Button zum Schließen des Menüs -->
    <button type="button" id="closeButton" class="close-button" aria-label="Menü schließen">Schließen</button>
    <ul>
        <!-- Navigationselemente, die zu verschiedenen Seiten führen -->
        <li><a href="index.html" class="home" aria-label="Zur Startseite">Home</a></li>
        <li><a href="ueber_mich.html" class="ueber_mich" aria-label="Mehr über Hannah erfahren">Über mich</a></li>
        <li><a href="mein_weg_als_sportlerin.html" class="active sportlerin"
                aria-label="Mein Weg als Sportlerin ansehen">Mein Weg als Sportlerin</a></li>
        <li><a href="fanclub.html" aria-label="Informationen zum Fanclub">Fanclub</a></li>
    </ul>
</nav>